<div class="container-fluid">
  <form (ngSubmit)="editData()" [formGroup]="form">
    <div class="form-group">
      <br><input type="text" formControlName="name" class="form-control" placeholder="Enter Name">
    </div>

    <div class="form-group">
      <br><quill-editor type="text" formControlName="content" placeholder="Enter Note Text"></quill-editor>
    </div>

    <!--<div class="form-group">
      DATE PICKER GOES HERE
    </div>-->

    <br>

    <div class="form-group">
      <button class="btn btn-space btn-sm btn-dark">Save</button>
      <button type="button" class="btn btn-space btn-sm btn-danger" (click)="deleteData(note._id)">Delete</button>
    </div>
  </form>
</div>
