<div>
  <form (ngSubmit)="insertData()" [formGroup]="addTaskForm">
    <div>
      <br><input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name">

      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is Required</div>
      </div>
    </div>

    <div>
      <br><quill-editor type="text" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" placeholder="Enter Task Text" [maxLength]="250"></quill-editor>

      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div *ngIf="f.content.errors.required">Content is Required</div>
      </div>
    </div>

    <div class="col-2">
      <br><select formControlName="weight">
          <option value="" disabled selected>(Optional) Weight</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
      </select>
    </div>

    <br>

    <div>
      <button>Save</button>
    </div>
  </form>
</div>
