<div class="mx-2 my-2">
  <form (ngSubmit)="insertData()" [formGroup]="addTaskForm">
    <div>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name">

      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div class="text-red-600" *ngIf="f.name.errors.required">Tasks must have a name.</div>
      </div>
    </div>

    <div class="mt-4">
      <quill-editor type="text" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" placeholder="Enter Task Text" [maxLength]="250"></quill-editor>

      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div class="text-red-600" *ngIf="f.content.errors.required">Tasks must have some content.</div>
      </div>
    </div>

    <div>
      <input type="datetime-local" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none mt-4" formControlName="time">
    </div>

    <div>
      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none mt-4" formControlName="tags">
    </div>

    <div>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none mt-4" formControlName="importance">
          <option value="" disabled selected>Importance</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
      </select>
    </div>

    <div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 mt-4 rounded focus:outline-none focus:shadow-outline">Save</button>
    </div>
  </form>
</div>
