<div class="container-fluid">
  <button class="btn btn-primary btn-sm mx-auto" routerLink="/tasks/add-task">Add New Task</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="">Name</th>
        <th scope="col">Weight</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.name}}</td>
        <td>{{task.weight}}</td>
        <td>
          <button class="btn btn-primary btn-sm mx-auto" routerLink="/task/edit/{{task._id}}">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
