<div class="container-fluid">
  <form (ngSubmit)="insertData()" [formGroup]="form">
    <div class="form-group">
      <br><input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control" placeholder="Enter Name">

      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is Required</div>
      </div>
    </div>

    <div class="form-group">
      <br><quill-editor type="text" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" placeholder="Enter Task Text" [maxLength]="250"></quill-editor>

      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div *ngIf="f.content.errors.required">Content is Required</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <button class="btn btn-space btn-sm btn-dark">Save</button>
    </div>
  </form>
</div>
