<div class="w-full max-w-xl mx-auto mt-6" (keydown.enter)="register()">
  <form class="bg-slate-200 shadow-md rounded px-8 py-6" [formGroup]="registerForm">
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputEmail">Email</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="email" type="email" placeholder="Enter Email">
      <div *ngIf="submitted && f.email.errors">
        <div class="text-red-600" *ngIf="f.email.errors.required || f.email.errors.email">Enter a valid email address.</div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputUsername">Username</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="username" type="text" placeholder="Enter Username">
      <div *ngIf="submitted && f.username.errors">
        <div class="text-red-600" *ngIf="f.username.errors.required">Enter a username.</div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputPassword1">Password</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="password1" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter Password">
      <div *ngIf="submitted && f.password1.errors">
        <div class="text-red-600" *ngIf="f.password1.errors">Your password must be at least 8 characters.</div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputPassword2">Confirm Password</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="password2" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Repeat Password">
      <div *ngIf="submitted && f.password2.errors">
        <div class="text-red-600" *ngIf="f.password2.errors.required">Your passwords must match.</div>
      </div>
    </div>
    <div class="mb-4">
      <input type="checkbox" (click)="togglePasswordVisibility()"> Show Password
    </div>
    <div class="flex items-center mt-5">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" type="button" (click)="register()">Register</button>
        <button class="text-blue-500 hover:text-blue-700 font-bold py-2 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" type="button" routerLink="/login">Go to Log In</button>
    </div>
  </form>
</div>
