<div class="w-full max-w-xl mx-auto mt-6">
  <form class="bg-slate-200 shadow-md rounded px-8 py-6" [formGroup]="loginForm">
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputEmail">Email</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="email" type="email" placeholder="Enter Email">
      <div *ngIf="submitted && f.email.errors">
        <div class="text-red-600" *ngIf="f.email.errors.required || f.email.errors.email">Enter a valid email address.</div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="inputPassword">Password</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none" formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter Password">
      <div *ngIf="submitted && f.password.errors">
        <div class="text-red-600" *ngIf="f.password.errors.required">Enter your password.</div>
      </div>
    </div>
    <div class="mb-4">
      <input type="checkbox" (click)="togglePasswordVisibility()"> Show Password
    </div>
    <div class="flex items-center mt-5">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" type="button" (click)="login()">Log In</button>
        <button class="text-blue-500 hover:text-blue-700 font-bold py-2 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" type="button" routerLink="/register">Create an Account</button>
    </div>
  </form>
</div>
