<div *ngIf="isDoneLoading" class="mx-2 my-2">
  <table class="border-collapse border border-slate-500 bg-slate-200">
    <thead>
      <tr class="bg-slate-300">
        <th class="px-4 py-1 border border-slate-500" scope="col"><button class="text-blue-700 font-bold hover:underline" (click)="isSortedByNameAsc ? sortByNameDesc() : sortByNameAsc()">{{isSortedByNameAsc == true ? "↑ Name" : "↓ Name"}}</button></th>
        <th class="px-4 py-1 border border-slate-500" scope="col"></th>
        <th class="px-4 py-1 border border-slate-500" scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let note of notes">
        <td class="px-4 py-1 border border-slate-500">{{note.name}}</td>
        <td class="px-4 py-1 border border-slate-500">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" routerLink="/note/edit/{{note._id}}">Edit</button>
        </td>
        <td class="px-4 py-1 border border-slate-500">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 mx-2 rounded focus:outline-none focus:shadow-outline" type="button" (click)="deleteData(note._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 mt-4 rounded focus:outline-none focus:shadow-outline" routerLink="/notes/add-note">Add New Note</button>
</div>
