<div>
  <form (ngSubmit)="editData()" [formGroup]="form">
    <div>
      <br><input type="text" formControlName="name" placeholder="Enter Name">
    </div>

    <div>
      <br><quill-editor type="text" formControlName="content" placeholder="Enter Task Text" [maxLength]="250"></quill-editor>
    </div>

    <div>
      <br><select formControlName="weight">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
    </div>

    <br>

    <div>
      <button>Save</button>
      <button type="button" (click)="deleteData(task._id)">Delete</button>
    </div>
  </form>
</div>
